<!DOCTYPE html>
<html>
  <head>
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNJo9Fvz10GQfl49DzI2cPfCU5sJJ7egs&callback=initMap">
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/map.css">
    <title>Where's my karaoke?</title>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
      var MAP_URL = SCRIPT_ROOT + "/_map";

      function initMap() {
          $.getJSON(MAP_URL, {}, function(data){

          var POIs = data.result.POIs
          var center = {lat: parseFloat(POIs[0][1]), lng: parseFloat(POIs[0][2])};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center: center
              });

          for(i = 0; i < POIs.length; i++){
            var currPOI = POIs[i];
            var newPoint = {lat: parseFloat(currPOI[1]), lng: parseFloat(currPOI[2])};
            var marker = new google.maps.Marker({
            position: newPoint,
            map: map
            });
            marker.addListener('click', function(evt) {
          console.log(evt.latLng.lat() + " " + evt.latLng.lng());
        });
          } 

        });

      }

      


    </script>
  </body>
</html>